Series

Series is very similar to the numpy array. The only thing that differenentiate them is the that series  can be indexed using a label instead of just a number location as in numpy arrays

In [3]:
import numpy as np
import pandas as pd

 Creating series from a python list

In [4]:
myindex = ['USA','Canada', 'Mexico']

In [5]:
mydata = [1778,1233, 2345]

In [6]:
myseries = pd.Series(data=mydata)

In [7]:
myseries

0    1778
1    1233
2    2345
dtype: int64

In [8]:
myseries = pd.Series(mydata, myindex)

In [10]:
myseries

USA       1778
Canada    1233
Mexico    2345
dtype: int64

In [23]:
data = np.random.randint(0,101,4)

In [24]:
names = ['lateefah', 'claire','aname', 'anothername']

In [25]:
ages = pd.Series(data,names)

In [26]:
ages

lateefah        0
claire         33
aname          89
anothername    40
dtype: int32

Creating a series from a dictionary

In [27]:
ages = {"claire": 5, "frank":20,"summayah":13}

In [28]:
pd.Series(ages)

claire       5
frank       20
summayah    13
dtype: int64

In [29]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [30]:
sales_q1 = pd.Series(q1)

In [31]:
sales_q2 = pd.Series(q2)

In [32]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [33]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [34]:
sales_q1['Japan']

80

In [36]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [37]:
sales_q1[0]

80

operations

In [38]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [39]:
sales_q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

Operations between series

In [41]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [42]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64